/* FONDO GENERAL */

body{
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}


/* NAVBAR */

.bg-primary-custom{
    background-color: #0d3b66;
}


/* BOTON ROJO */

.btn-secondary-custom{
    background-color: #d90429;
    color: white;
    border: none;
}

.btn-secondary-custom:hover{
    background-color: #b00320;
}


/* HERO */

.hero{
    background-color: #0d3b66;
    color: white;
    min-height: 90vh;
    display: flex;
    align-items: center;
}


/* TITULOS */

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
}


/* TEXTO */

.texto{
    margin-top: 20px;
    font-size: 18px;
    color: #e0e0e0;
}